.slide-fade-enter-active,
.slide-fade-leave-active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide-fade-enter {
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
}

.cal-enter-active,
.cal-leave-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.cal-enter {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.cal-leave-to {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.list-enter-active,
.list-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.calendar-enter-active,
.calendar-leave-active {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.calendar-enter-active tbody,
.calendar-leave-active tbody {
  -webkit-perspective: 200vh;
          perspective: 200vh;
}

.calendar-enter-active tr,
.calendar-leave-active tr {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.calendar-enter-to tr {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.calendar-leave-to tr {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.slide-left-enter-active,
.slide-left-leave-active {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: relative;
}

.slide-left-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.slide-left-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.rotate-enter-active,
.rotate-leave-active {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.rotate-enter-active .day,
.rotate-leave-active .day {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: relative;
}

.rotate-enter .day {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.rotate-leave-to .day {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

@keyframes scale {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}

@-webkit-keyframes heart-beat {
  0%,
  30%,
  60%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15%,
  45% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
}

@keyframes heart-beat {
  0%,
  30%,
  60%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15%,
  45% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
}

@-webkit-keyframes event {
  0% {
    background: #c2000f;
  }
  25% {
    background: #e9001349;
  }
  75% {
    background: #b42834;
  }
  100% {
    background: #c2000f;
  }
}

@keyframes event {
  0% {
    background: #c2000f;
  }
  25% {
    background: #e9001349;
  }
  75% {
    background: #b42834;
  }
  100% {
    background: #c2000f;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #c2000f;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    color: #c2000f;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

body #banner {
  margin-bottom: 50px;
  background: radial-gradient(#b8000f, #650b12 75%);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 101;
  color: #fff;
}

body #banner .banner-text {
  padding: 0 50px;
  text-align: center;
  text-shadow: -1px 0px #3c3c3c, 0px 1px #3c3c3c, 0px -1px #3c3c3c, 1px 0px #3c3c3c;
}

body #banner img {
  height: 150px;
  width: auto;
}

body #banner2 {
  margin-bottom: 10px;
  padding: 15px;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

body #banner2 h3 {
  color: #c2000f;
}

body #banner2 img {
  height: 100px;
  width: auto;
}

body #content {
  margin: 0 20px;
}

body #content #content-in .page-title {
  color: #c2000f;
  text-align: center;
  position: relative;
}

body #content #content-in a {
  text-decoration: none;
  color: #c2000f;
}

body #content #content-in a.link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #3c3c3c;
  background-position: 0 17px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, #c2000f));
  background-image: linear-gradient(to bottom, transparent 0, #c2000f 0);
  background-repeat: no-repeat;
  padding: 0 2px;
}

body #content #content-in a.link:hover {
  color: #fff;
  background-position: 0 0 !important;
}

body #content #content-in ul {
  list-style: none;
}

body #content #content-in ul li {
  position: relative;
  padding: 2px 0;
}

body #content #content-in ul li:before {
  position: absolute;
  top: 5px;
  left: -20px;
  height: 17px;
  width: 12px;
  display: block;
  content: '';
  background-image: url("..//images/kropelka.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body #footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #dfdfdf;
}

body #footer #shdk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

body #footer #shdk img {
  margin-left: 10px;
  height: 100px;
}

body #footer #realizacja {
  font-size: 11px;
  text-align: right;
}

@media screen and (min-width: 992px) {
  body {
    margin-left: 80px;
  }
  body #content {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    min-height: calc(100vh - 420px);
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-bottom: 82px;
  }
}

#main-menu {
  position: fixed;
  z-index: 10;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;
  -webkit-box-shadow: 0 0 5px 1px #818181;
          box-shadow: 0 0 5px 1px #818181;
}

#main-menu ul {
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#main-menu ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background: #3c3c3c;
}

#main-menu ul li p {
  margin: 0;
}

#main-menu ul li:first-child {
  border-top: none;
}

#main-menu ul li:hover {
  background-color: #dfdfdf;
  color: #c2000f;
  border-color: #dfdfdf;
}

#main-menu ul li:hover img {
  -webkit-filter: none;
          filter: none;
}

#main-menu ul li.router-link-exact-active {
  color: #c2000f;
  background-color: #fff;
  border-color: #fff;
  position: relative;
}

#main-menu ul li.router-link-exact-active img {
  -webkit-filter: none;
          filter: none;
}

#main-menu ul li img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
  -webkit-filter: brightness(0%) invert(50%);
          filter: brightness(0%) invert(50%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

@media screen and (max-width: 991px) {
  #main-menu {
    bottom: 0;
    width: 100vw;
  }
  #main-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-menu ul li {
    width: 20%;
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: 11px;
    border-left: 1px solid #555555;
    border-top: 1px solid #3c3c3c;
  }
  #main-menu ul li:first-child {
    border-left: none;
  }
  #main-menu ul li.router-link-exact-active {
    border: 1px solid #dfdfdf;
  }
  #main-menu ul li#before-main, #main-menu ul li#after-main {
    position: relative;
  }
  #main-menu ul li#before-main:before, #main-menu ul li#after-main:before {
    z-index: -1;
    content: '';
    width: 50px;
    height: calc(100% + 1px);
    display: block;
    position: absolute;
    background: inherit;
    top: -1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #main-menu ul li#before-main.router-link-exact-active:before, #main-menu ul li#before-main:hover:before, #main-menu ul li#after-main.router-link-exact-active:before, #main-menu ul li#after-main:hover:before {
    border-top: 1px solid #dfdfdf;
  }
  #main-menu ul li#before-main {
    margin-right: 45px;
    border-right: none;
  }
  #main-menu ul li#before-main:before {
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  #main-menu ul li#after-main {
    margin-left: 45px;
    border-left: none;
  }
  #main-menu ul li#after-main:before {
    left: 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  #main-menu ul li#main-link {
    position: relative;
    border-radius: 50px;
    border: 2px solid #555555;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 70px;
    padding: 0;
    padding-bottom: 8px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
  #main-menu ul li#main-link:hover {
    border-color: #dfdfdf;
  }
  #main-menu ul li#main-link:hover img {
    -webkit-filter: none;
            filter: none;
  }
  #main-menu ul li#main-link.router-link-exact-active {
    border-color: #dfdfdf;
  }
  #main-menu ul li#main-link.router-link-exact-active img {
    -webkit-filter: none;
            filter: none;
  }
  #main-menu ul li#main-link img {
    max-width: 50px;
    max-height: 50px;
    margin: 0;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  #main-menu ul li#main-link p {
    display: none;
  }
  #main-menu ul li img {
    max-width: 30px;
    max-height: 30px;
  }
}

@media screen and (min-width: 992px) {
  #main-menu {
    top: 0;
    height: 100vh;
  }
  #main-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-menu ul li {
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #555555;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 10px;
  }
  #main-menu ul li#main-link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  #main-menu ul li img {
    max-width: 40px;
    max-height: 40px;
  }
}

#side-menu {
  font-family: 'Montserrat', sans-serif;
  z-index: 9;
  position: relative;
}

#side-menu .fa-caret-down {
  font-size: 25px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #c2000f;
  color: #fff;
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#side-menu .fa-caret-down.hide {
  opacity: 0;
}

#side-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  border-bottom: 1px solid #dfdfdf;
}

#side-menu ul li {
  color: #3c3c3c;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 0;
  margin: 0 15px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#side-menu ul li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: transparent;
  display: block;
  position: absolute;
  bottom: -1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#side-menu ul li.disable {
  display: none;
}

#side-menu ul li.active-link {
  font-weight: bold;
  display: block !important;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

#side-menu ul li.active-link:after {
  background: #c2000f;
}

@media screen and (min-width: 701px) {
  #side-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  #side-menu:not(.view-mobile) ul li:not(.active-link) {
    line-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
  }
  #side-menu.view-mobile .fa-caret-down {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #side-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    overflow: hidden;
    padding-bottom: 20px;
  }
  #side-menu .fa-caret-down {
    display: block;
    position: absolute;
  }
}

.text-red {
  color: #c2000f;
}

.text-blue {
  color: #0081ff;
}

.before-after, .calendar .event .box h2:before, .calendar .event .box h2:after {
  content: '';
  display: block;
}

.hide {
  cursor: none;
}

.hide .panel {
  opacity: 0;
}

.primary-button {
  border-radius: 2px;
  background-color: transparent;
  color: #c2000f;
  font-size: 15px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.calendar {
  border-radius: 4px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .events-list {
  margin: auto;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar .events-list .title {
  text-align: center;
  -webkit-text-decoration: underline #c2000f;
          text-decoration: underline #c2000f;
}

.calendar .events-list .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar .events-list .year-number {
  font-size: 25px;
  padding: 0 10px;
  font-weight: 700;
  position: relative;
  z-index: -1;
}

.calendar .events-list .year .button {
  width: 100px;
  font-size: 30px;
  background-color: #c2000f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.calendar .events-list table {
  border-spacing: 0 4px;
}

.calendar .events-list table tr {
  padding: 12px;
  overflow: hidden;
  width: 100px;
  height: 50px;
}

.calendar .events-list table tr th {
  font-size: 14px;
}

.calendar .events-list table tr.warning {
  position: relative;
  z-index: 1;
}

.calendar .events-list table tr.passed {
  opacity: 0.4;
  position: relative;
}

.calendar .events-list table tr td {
  background: #dfdfdf;
  height: 100%;
  padding: 10px 20px;
  font-size: 13px;
  border: 0;
  z-index: 1;
  position: relative;
}

.calendar .events-list table tr td h2 {
  margin: 0;
}

.calendar .events-list table tr td.eye {
  font-size: 30px;
  cursor: pointer;
}

.calendar .events-list table tr td.info {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100vh;
          perspective: 100vh;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

.calendar .events-list table tr td.info.rotate {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  z-index: 2;
}

.calendar .events-list table tr td.info.rotate .info-back {
  -webkit-box-shadow: 0 0 5px 1px #3c3c3c;
          box-shadow: 0 0 5px 1px #3c3c3c;
}

.calendar .events-list table tr td.info .box {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 10px 20px;
  min-height: calc(100% - 20px);
  width: calc(100% - 40px);
}

.calendar .events-list table tr td.info .info-back {
  background-color: #dfdfdf;
  -webkit-transform: rotateX(-180deg) translateY(50%);
          transform: rotateX(-180deg) translateY(50%);
}

.calendar .events-list table tr td.info .info-back p {
  margin: 0;
}

.calendar .events-list table tr td.info .address {
  color: #818181;
}

.calendar .events-list table tr td.date {
  color: #fff;
  text-align: center;
  position: relative;
}

.calendar .events-list table tr td.date .day {
  font-size: 30px;
  font-weight: bold;
}

.calendar .events-list table tr td:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.calendar .events-list table tr td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.calendar .calendar-card {
  -webkit-box-shadow: 0 0 5px 1px #dfdfdf;
          box-shadow: 0 0 5px 1px #dfdfdf;
}

.calendar .calendar-card .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .calendar-card .date .month {
  margin-top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 2.5em;
  font-weight: bold;
}

.calendar .calendar-card .date .day {
  font-size: 7em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.calendar .calendar-card .date .year {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.calendar .calendar-card .info {
  padding: 5px 20px 20px;
  position: relative;
  text-align: center;
}

.calendar .calendar-card .info .type:before, .calendar .calendar-card .info .type:after {
  display: block;
  width: 50%;
  height: 2px;
  background: #555555;
  content: "";
  margin: 20px auto;
}

.calendar .calendar-card .info .type-desc {
  font-size: 0.9em;
  font-style: italic;
}

.calendar .calendar-card .info .place {
  font-weight: 600;
}

.calendar .calendar-card .info .place-adres {
  font-size: 0.9em;
  color: #818181;
}

.calendar .calendar-card .info .place-adres a {
  text-decoration: none;
  color: unset;
}

.calendar .calendar-card.donacja {
  border-color: #c2000f;
}

.calendar .calendar-card.donacja .date .month {
  background-color: #c2000f;
}

.calendar .calendar-card.donacja .date .day,
.calendar .calendar-card.donacja .date .year {
  color: #c2000f;
}

.calendar .calendar-card.donacja .info .place-adres:hover {
  color: #c2000f;
}

.calendar .calendar-card.impreza {
  border-color: #0081ff;
}

.calendar .calendar-card.impreza .date .month {
  background-color: #0081ff;
}

.calendar .calendar-card.impreza .date .day,
.calendar .calendar-card.impreza .date .year {
  color: #0081ff;
}

.calendar .calendar-card.impreza .info .place-adres:hover {
  color: #0081ff;
}

.calendar .calendar-card.spotkanie {
  border-color: #e79200;
}

.calendar .calendar-card.spotkanie .date .month {
  background-color: #e79200;
}

.calendar .calendar-card.spotkanie .date .day,
.calendar .calendar-card.spotkanie .date .year {
  color: #e79200;
}

.calendar .calendar-card.spotkanie .info .place-adres:hover {
  color: #e79200;
}

.calendar .event {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  font-size: 1rem;
  font-weight: normal;
  color: #3c3c3c;
}

.calendar .event .fa-times {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #fff;
}

.calendar .event .box {
  margin: 20px auto 0 auto;
  background: #fff;
  position: relative;
  border-radius: 3px;
  padding-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar .event .box h2 {
  text-align: center;
  color: #fff;
  position: relative;
  width: calc(100% + 60px);
  left: -30px;
  padding: 10px 0;
  margin-bottom: 0;
  top: 0;
}

.calendar .event .box h2:before, .calendar .event .box h2:after {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  z-index: 0;
  background: #c2000f;
}

.calendar .event .box h2:before {
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  left: 15px;
}

.calendar .event .box h2:after {
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  right: 15px;
}

.calendar .event .box .inside-box {
  margin-top: 0;
  padding: 10px 20px;
  font-size: 13px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.calendar .event .box .inside-box p:not(.desc) {
  margin: 10px 0;
}

.calendar .event .box .inside-box .svg-inline--fa {
  padding-right: 10px;
  font-size: 18px;
}

.calendar .event .box .inside-box .desc {
  font-size: 14px;
}

.calendar .event .box .map {
  margin: 0;
  font-size: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calendar .event .box .map iframe {
  width: 100%;
  height: 100%;
}

.calendar .event .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calendar .cal-days .day .donacja {
  background-color: #c2000f;
}

.calendar .event.donacja .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.donacja .box h2 {
  background-color: #c2000f;
}

.calendar .event.donacja .box h2:before, .calendar .event.donacja .box h2:after {
  background-color: #7a000a;
}

.calendar .event.donacja .box .inside-box .svg-inline--fa {
  color: #c2000f;
}

.calendar .events-list .donacja .date {
  background-color: #c2000f;
}

.calendar .events-list .donacja .info-back a {
  color: #c2000f !important;
}

.calendar .events-list .donacja .eye:hover {
  color: #c2000f;
}

.calendar .cal-days .day .impreza {
  background-color: #0081ff;
}

.calendar .event.impreza .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.impreza .box h2 {
  background-color: #0081ff;
}

.calendar .event.impreza .box h2:before, .calendar .event.impreza .box h2:after {
  background-color: #0055aa;
}

.calendar .event.impreza .box .inside-box .svg-inline--fa {
  color: #0081ff;
}

.calendar .events-list .impreza .date {
  background-color: #0081ff;
}

.calendar .events-list .impreza .info-back a {
  color: #0081ff !important;
}

.calendar .events-list .impreza .eye:hover {
  color: #0081ff;
}

.calendar .cal-days .day .spotkanie {
  background-color: #e79200;
}

.calendar .event.spotkanie .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.spotkanie .box h2 {
  background-color: #e79200;
}

.calendar .event.spotkanie .box h2:before, .calendar .event.spotkanie .box h2:after {
  background-color: #b47200;
}

.calendar .event.spotkanie .box .inside-box .svg-inline--fa {
  color: #e79200;
}

.calendar .events-list .spotkanie .date {
  background-color: #e79200;
}

.calendar .events-list .spotkanie .info-back a {
  color: #e79200 !important;
}

.calendar .events-list .spotkanie .eye:hover {
  color: #e79200;
}

@media screen and (min-width: 992px) {
  .calendar .event .box {
    width: 60%;
    height: calc(100% - 40px);
  }
}

@media screen and (max-width: 991px) {
  .calendar .event .box {
    width: calc(100% - 100px);
    height: calc(100% - 110px);
  }
}

@media screen and (min-width: 501px) {
  .calendar .events-list table {
    min-width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .calendar .events-list {
    margin: 0 !important;
    width: 100%;
  }
  .calendar .events-list table {
    width: 100%;
  }
  .calendar .events-list table tr td {
    padding: 8px 16px;
  }
}

#galleries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#galleries .gallery-card {
  -webkit-box-shadow: 1px 1px 8px 1px #dfdfdf;
          box-shadow: 1px 1px 8px 1px #dfdfdf;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

#galleries .gallery-card .gallery-cover {
  position: relative;
  padding-bottom: 70%;
  background-size: cover;
  background-position: center;
  position: relative;
}

#galleries .gallery-card .gallery-cover:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.795)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.795));
  bottom: 0;
}

#galleries .gallery-card .gallery-cover h3 {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #fff;
  z-index: 2;
}

#galleries .gallery-card .gallery-info {
  position: relative;
  padding: 0 5px 5px 5px;
}

#galleries .gallery-card .gallery-info .number {
  font-size: 15px;
  color: #818181;
}

#galleries .gallery-card .gallery-info .description {
  font-size: 14px;
  text-align: left;
}

#galleries .gallery-card .gallery-info .play,
#galleries .gallery-card .gallery-info .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #555555;
}

#galleries .gallery-card .gallery-info .play svg,
#galleries .gallery-card .gallery-info .grid svg {
  font-size: 30px;
  padding-right: 10px;
}

#galleries .gallery-card .gallery-info .play:hover,
#galleries .gallery-card .gallery-info .grid:hover {
  color: #c2000f;
}

#galleries .gallery-card .gallery-info .play:hover svg,
#galleries .gallery-card .gallery-info .grid:hover svg {
  -webkit-animation: scale 0.5s;
          animation: scale 0.5s;
}

@media screen and (min-width: 991px) {
  #galleries .gallery-card {
    margin: 10px;
    width: calc(33% - 20px);
  }
}

@media screen and (min-width: 700px) and (max-width: 991px) {
  #galleries .gallery-card {
    margin: 10px;
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  #galleries .gallery-card {
    margin: 5px;
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 449px) {
  #galleries .gallery-card {
    margin: 0px;
    width: calc(100% - 0px);
  }
}

@media screen and (max-width: 991px) {
  #galleries .gallery-card {
    margin-top: 20px;
  }
}

#slide-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#470005, #0f0001 75%);
  z-index: 120;
}

#slide-show .panel {
  color: #dfdfdf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#slide-show #box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

#slide-show #box:active #next,
#slide-show #box:active #back {
  opacity: 1;
}

#slide-show #box:active #panel {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#slide-show .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2000;
  font-size: 30px;
}

#slide-show .slide-number {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
}

#slide-show svg {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#slide-show svg:not(.dis-button):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#slide-show #panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 10;
}

#slide-show #panel .set-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

#slide-show #panel .set-time span:first-child {
  margin-right: 2px;
}

#slide-show #panel .set-time .option-time {
  width: 40px;
  text-align: center;
  padding: 2px 0;
  border-radius: 3px;
  margin: 1px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#slide-show #panel .set-time .option-time.active {
  background-color: #dfdfdf;
  color: #3c3c3c;
}

#slide-show #panel .set-time svg {
  font-size: 20px;
  padding: 5px 0;
}

#slide-show #panel .play-pause {
  font-size: 25px;
  position: relative;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slide-show #panel .play-pause svg {
  padding: 5px 0;
}

#slide-show #panel .play-pause .fa-play {
  opacity: 1;
  z-index: 1;
}

#slide-show #panel .play-pause .fa-pause {
  position: absolute;
  top: 1px;
  left: 0;
  opacity: 0;
  z-index: -1;
}

#slide-show #panel .play-pause.playing .fa-play {
  opacity: 0;
  z-index: -1;
}

#slide-show #panel .play-pause.playing .fa-pause {
  opacity: 1;
  z-index: 1;
}

#slide-show #slide {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#slide-show #slide img {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  -webkit-filter: brightness(100%) grayscale(0%);
          filter: brightness(100%) grayscale(0%);
  -webkit-box-shadow: 0px 0px 14px 8px #2d0000;
          box-shadow: 0px 0px 14px 8px #2d0000;
}

#slide-show #slide .fa-spinner {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  z-index: 10;
  color: #fff;
}

#slide-show #slide.loading img {
  -webkit-filter: brightness(50%) grayscale(100%);
          filter: brightness(50%) grayscale(100%);
}

#slide-show #slide.loading .fa-spinner {
  opacity: 1;
  -webkit-animation: rotate 0.7s steps(8, end) infinite;
          animation: rotate 0.7s steps(8, end) infinite;
}

#slide-show #next {
  padding: 0 10px 0 30px;
  right: 0;
}

#slide-show #back {
  padding: 0 30px 0 10px;
  left: 0;
}

#slide-show #back,
#slide-show #next {
  position: absolute;
  color: #7d7d7d;
  height: 100%;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}

#slide-show #back svg,
#slide-show #next svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  z-index: 10;
}

#slide-show #back:after,
#slide-show #next:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#slide-show #back.dis-button svg,
#slide-show #next.dis-button svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3;
}

#slide-show #back:not(.dis-button):hover,
#slide-show #next:not(.dis-button):hover {
  cursor: pointer;
  color: #fff;
}

#slide-show #back:not(.dis-button):hover:after,
#slide-show #next:not(.dis-button):hover:after {
  opacity: 1;
}

#gallery #image-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gallery #image-options .back-gallery {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#gallery #image-options .back-gallery svg {
  font-weight: regular;
  font-size: 30px;
  padding-right: 5px;
  color: #c2000f;
}

#gallery #image-options .back-gallery:hover {
  color: #c2000f;
}

#gallery #image-options .back-gallery:hover svg {
  -webkit-animation: scale 0.5s 1 linear;
          animation: scale 0.5s 1 linear;
}

#gallery #image-options .select-option {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

#gallery #image-options .select-option:hover svg {
  -webkit-animation: scale 0.5s 1 linear;
          animation: scale 0.5s 1 linear;
}

#gallery #image-options .select-option svg {
  font-size: 30px;
  color: #fff;
  background: #c2000f;
  border-radius: 2px;
  width: 30px;
  margin: 0 1px 0 5px;
}

#gallery #image-options .select-option .current-option {
  width: 80px;
  text-align: center;
  display: block;
  background-color: #3c3c3c;
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
}

#gallery #image-options .select-option .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 100%;
}

#gallery #image-options .select-option .options .option {
  cursor: pointer;
  position: relative;
  opacity: 0;
  top: -30px;
  -webkit-transition: 0.12s;
  transition: 0.12s;
  background: #c2000f;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2px 0;
  margin-top: 1px;
  border-radius: 2px;
  z-index: 10;
}

#gallery #image-options .select-option .options .option:first-child {
  z-index: -1;
}

#gallery #image-options .select-option .options.active .option {
  opacity: 1;
  top: 0;
}

#gallery #image-options .select-option .options.active .option:first-child {
  z-index: 10;
}

#gallery #thumbnail-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery #thumbnail-grid .thumbnail {
  margin: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 0px #000;
          box-shadow: 0px 0px 0px #000;
}

#gallery #thumbnail-grid .thumbnail:hover {
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

#gallery #thumbnail-grid .thumbnail img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

#gallery #pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 5px;
  font-size: 25px;
}

#gallery #pages span {
  padding: 0 15px;
  color: #c2000f;
}

#gallery #pages svg {
  cursor: pointer;
}

#gallery #pages svg.un-active {
  cursor: default;
  opacity: 0.5;
}

@media screen and (min-width: 992px) {
  #gallery .thumbnail {
    width: calc(100% / 6 - 2px);
    padding-top: calc(100% / 6 - 2px);
  }
}

@media screen and (min-width: 701px) and (max-width: 991px) {
  #gallery .thumbnail {
    width: calc(25% - 2px);
    padding-top: calc(25% - 2px);
  }
}

@media screen and (min-width: 571px) and (max-width: 700px) {
  #gallery .thumbnail {
    width: calc(33% - 2px);
    padding-top: calc(33% - 2px);
  }
}

@media screen and (max-width: 570px) {
  #gallery .thumbnail {
    width: calc(50% - 2px);
    padding-top: calc(50% - 2px);
  }
}

.newses {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newses .news-card {
  padding: 0 5px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33% - 10px);
          flex: 0 1 calc(33% - 10px);
}

.newses .news-card .title {
  margin-top: 0;
}

.newses .news-card-end {
  border-bottom: none !important;
}

.newses .news-card:nth-child(3n-2) {
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.newses .news-card:nth-child(3n-1) {
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.newses .news-card:nth-child(3n) {
  border-bottom: 1px solid #dfdfdf;
}
/*# sourceMappingURL=style.css.map */