.slide-fade-enter-active,
.slide-fade-leave-active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide-fade-enter {
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.list-enter, .list-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: relative;
}

.slide-left-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.slide-left-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.rotate-enter-active,
.rotate-leave-active {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.rotate-enter-active .day,
.rotate-leave-active .day {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  position: relative;
}

.rotate-enter .day {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.rotate-leave-to .day {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

@-webkit-keyframes event {
  0% {
    background: #c2000f;
  }
  25% {
    background: #e9001349;
  }
  75% {
    background: #b42834;
  }
  100% {
    background: #c2000f;
  }
}

@keyframes event {
  0% {
    background: #c2000f;
  }
  25% {
    background: #e9001349;
  }
  75% {
    background: #b42834;
  }
  100% {
    background: #c2000f;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

body #banner {
  margin-bottom: 50px;
  background: radial-gradient(#b8000f, #650b12 75%);
  padding: 15px;
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #banner h3 {
  padding: 0 50px;
  color: #fff;
  text-align: center;
}

body #banner img {
  height: 200px;
  width: auto;
}

body #banner2 {
  margin-bottom: 10px;
  padding: 15px;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
}

body #banner2 h3 {
  color: #c2000f;
}

body #banner2 img {
  height: 100px;
  width: auto;
}

body #content {
  margin: 0 20px;
  text-align: justify;
}

body #content #content-in .page-title {
  color: #c2000f;
}

body #content #content-in ul {
  list-style: none;
}

body #content #content-in ul li {
  position: relative;
}

body #content #content-in ul li:before {
  position: absolute;
  top: 0;
  left: -20px;
  height: 17px;
  width: 12px;
  display: block;
  content: '';
  background-image: url("./assets/images/kropelka.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body #footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #eeeeee;
}

body #footer #shdk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #footer #shdk img {
  margin-left: 10px;
  height: 100px;
}

body #footer #realizacja {
  font-size: 11px;
  text-align: right;
}

@media screen and (min-width: 992px) {
  body {
    margin-left: 105px;
  }
  body #content {
    width: 80%;
    margin-right: 10%;
    margin-left: calc(10% - 100px);
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-bottom: 82px;
  }
}

#main-menu {
  position: fixed;
  z-index: 10;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;
}

#main-menu ul {
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#main-menu ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background: #3c3c3c;
}

#main-menu ul li p {
  margin: 0;
}

#main-menu ul li:first-child {
  border-top: none;
}

#main-menu ul li:hover {
  background-color: #eeeeee;
  color: #c2000f;
  border-color: #eeeeee;
}

#main-menu ul li:hover img {
  -webkit-filter: none;
          filter: none;
}

#main-menu ul li.router-link-exact-active {
  color: #c2000f;
  background-color: #fff;
  border-color: #fff;
}

#main-menu ul li.router-link-exact-active img {
  -webkit-filter: none;
          filter: none;
}

#main-menu ul li img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
  -webkit-filter: brightness(0%) invert(50%);
          filter: brightness(0%) invert(50%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

@media screen and (max-width: 991px) {
  #main-menu {
    bottom: 0;
    width: 100vw;
  }
  #main-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-menu ul li {
    width: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
    border-left: 1px solid #555555;
    border-top: 1px solid #3c3c3c;
  }
  #main-menu ul li:first-child {
    border-left: none;
  }
  #main-menu ul li.router-link-exact-active {
    border: 1px solid #eeeeee;
  }
  #main-menu ul li#before-main, #main-menu ul li#after-main {
    position: relative;
  }
  #main-menu ul li#before-main:before, #main-menu ul li#after-main:before {
    z-index: -1;
    content: '';
    width: 50px;
    height: calc(100% + 1px);
    display: block;
    position: absolute;
    background: inherit;
    top: -1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #main-menu ul li#before-main.router-link-exact-active:before, #main-menu ul li#before-main:hover:before, #main-menu ul li#after-main.router-link-exact-active:before, #main-menu ul li#after-main:hover:before {
    border-top: 1px solid #eeeeee;
  }
  #main-menu ul li#before-main {
    margin-right: 45px;
    border-right: none;
  }
  #main-menu ul li#before-main:before {
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  #main-menu ul li#after-main {
    margin-left: 45px;
    border-left: none;
  }
  #main-menu ul li#after-main:before {
    left: 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  #main-menu ul li#main-link {
    position: relative;
    border-radius: 50px;
    border: 2px solid #555555;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 92px;
    padding: 0;
    padding-bottom: 8px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
  #main-menu ul li#main-link:hover {
    border-color: #eeeeee;
  }
  #main-menu ul li#main-link:hover img {
    -webkit-filter: none;
            filter: none;
  }
  #main-menu ul li#main-link.router-link-exact-active {
    border-color: #eeeeee;
  }
  #main-menu ul li#main-link.router-link-exact-active img {
    -webkit-filter: none;
            filter: none;
  }
  #main-menu ul li#main-link img {
    max-width: 64px;
    max-height: 64px;
    margin: 0;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  #main-menu ul li#main-link p {
    display: none;
  }
  #main-menu ul li img {
    max-width: 40px;
    max-height: 40px;
  }
}

@media screen and (min-width: 992px) {
  #main-menu {
    top: 0;
    height: 100vh;
  }
  #main-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-menu ul li {
    width: 95px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #555555;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #main-menu ul li#main-link {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  #main-menu ul li img {
    max-width: 50px;
    max-height: 50px;
  }
}

#side-menu {
  font-family: 'Montserrat', sans-serif;
  z-index: 9;
}

#side-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  border-bottom: 1px solid #eeeeee;
}

#side-menu ul li {
  color: #3c3c3c;
  border: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  padding: 5px 0;
  margin: 0 15px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#side-menu ul li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: transparent;
  display: block;
  position: absolute;
  bottom: -1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#side-menu ul li.disable {
  display: none;
}

#side-menu ul li.activeLink {
  font-weight: bold;
  display: block !important;
}

#side-menu ul li.activeLink:after {
  background: #c2000f;
}

@media screen and (max-width: 700px) {
  #side-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.text-red {
  color: #c2000f;
}

.before-after, .calendar .event .box h2:before, .calendar .event .box h2:after {
  content: '';
  display: block;
}

.calendar {
  border-radius: 4px;
  overflow: hidden;
}

.calendar .cal-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c2000f;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee;
}

.calendar .cal-head .next-prev {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100%/7);
}

.calendar .cal-head .next-prev.next div {
  text-align: right;
}

.calendar .cal-head .next-prev.prev div {
  text-align: left;
}

.calendar .cal-head .next-prev > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .cal-head .next-prev svg {
  padding: 0 5px;
  height: 25px;
}

.calendar .cal-head .currentDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.calendar .cal-head .currentDate .year {
  font-size: 25px;
  font-weight: bold;
}

.calendar .cal-head .currentDate .month {
  font-size: 14px;
}

.calendar .day-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #b42834;
  margin-bottom: -1px;
  z-index: 2;
  position: relative;
  padding-top: 5px;
}

.calendar .day-names .day-name {
  padding: 0 10px;
  text-align: center;
  border-bottom: 2px solid #c2000f;
  margin: 0;
  position: relative;
}

.calendar .day-names .day-name:first-child {
  border-left: none;
}

.calendar .cal-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.calendar .cal-days .day {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 13%;
          flex: 1 0 13%;
  height: auto;
  position: relative;
  margin: 5px 0;
}

.calendar .cal-days .day.pass {
  opacity: 0.4;
}

.calendar .cal-days .day.current-day {
  color: #c2000f;
  font-weight: bold;
}

.calendar .cal-days .day.current-day .day-number {
  position: relative;
}

.calendar .cal-days .day.current-day .day-number:after, .calendar .cal-days .day.current-day .day-number:before {
  content: '';
  display: block;
  width: 13px;
  height: 1px;
  background-color: #c2000f;
  position: absolute;
  top: 6px;
}

.calendar .cal-days .day.current-day .day-number:before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calendar .cal-days .day.current-day .day-number:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calendar .cal-days .day.current-day .day-number .number:after, .calendar .cal-days .day.current-day .day-number .number:before {
  content: '';
  display: block;
  width: 13px;
  height: 1px;
  background-color: #c2000f;
  position: absolute;
  bottom: 6px;
}

.calendar .cal-days .day.current-day .day-number .number:before {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calendar .cal-days .day.current-day .day-number .number:after {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calendar .cal-days .day.prev, .calendar .cal-days .day.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  -webkit-filter: brightness(180%);
          filter: brightness(180%);
}

.calendar .cal-days .day .day-number {
  display: inline-block;
  font-size: 22px;
  border-radius: 3px;
  width: 26.6px;
  padding: 6px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .calendar .cal-days .day .day-number {
    font-size: 19px;
  }
}

.calendar .cal-days .day .day-number.has-event {
  color: #fff;
  font-weight: bold;
}

.calendar .cal-days .day .day-number.has-event .number {
  cursor: pointer;
}

.calendar .cal-legend ul {
  padding-left: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  max-height: 500px;
  height: auto;
  position: relative;
}

.calendar .cal-legend ul.folded {
  max-height: 0;
}

.calendar .cal-legend ul li {
  padding-bottom: 10px;
}

.calendar .cal-legend ul li:before {
  display: none !important;
}

.calendar .cal-legend .day-number {
  padding: 10px;
  font-size: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.calendar .cal-legend .day-number.has-event {
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
}

.calendar .cal-legend .day-number.has-event.donacja {
  background-color: #c2000f;
}

.calendar .cal-legend .day-number.has-event.impreza {
  background-color: #0081ff;
}

.calendar .cal-legend .day-number.has-event.spotkanie {
  background-color: #e79200;
}

.calendar .cal-legend .day-number.current-day {
  color: #c2000f;
  font-weight: bold;
  position: relative;
}

.calendar .cal-legend .day-number.current-day:after, .calendar .cal-legend .day-number.current-day:before {
  content: '';
  display: block;
  width: 13px;
  height: 1px;
  background-color: #c2000f;
  position: absolute;
  top: 6px;
}

.calendar .cal-legend .day-number.current-day:before {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calendar .cal-legend .day-number.current-day:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calendar .cal-legend .day-number.current-day .number:after, .calendar .cal-legend .day-number.current-day .number:before {
  content: '';
  display: block;
  width: 13px;
  height: 1px;
  background-color: #c2000f;
  position: absolute;
  bottom: 6px;
}

.calendar .cal-legend .day-number.current-day .number:before {
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calendar .cal-legend .day-number.current-day .number:after {
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calendar .event {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  font-size: 1rem;
  font-weight: normal;
  color: #3c3c3c;
}

.calendar .event .fa-times {
  float: right;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #fff;
}

.calendar .event .box {
  width: 70%;
  margin: 20px auto 0 auto;
  background: #fff;
  position: relative;
  border-radius: 3px;
  padding-top: 1px;
}

.calendar .event .box h2 {
  text-align: center;
  color: #fff;
  position: relative;
  width: calc(100% + 60px);
  left: -30px;
  padding: 10px 0;
  margin-bottom: 0;
  top: 0;
}

.calendar .event .box h2:before, .calendar .event .box h2:after {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 100%;
  z-index: 0;
  background: #c2000f;
}

.calendar .event .box h2:before {
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  left: 15px;
}

.calendar .event .box h2:after {
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  right: 15px;
}

.calendar .event .box .inside-box {
  margin-top: 0;
  padding: 10px 20px;
  font-size: 13px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.calendar .event .box .inside-box p:not(.desc) {
  margin: 10px 0;
}

.calendar .event .box .inside-box .svg-inline--fa {
  padding-right: 10px;
  font-size: 18px;
}

.calendar .event .box .inside-box .desc {
  font-size: 14px;
}

.calendar .event .box .map {
  margin: 0;
  font-size: 0px;
}

.calendar .event .box .map iframe {
  width: 100%;
  height: 500px;
}

.calendar .event .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calendar .cal-days .day .donacja {
  background-color: #c2000f;
}

.calendar .event.donacja .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.donacja .box h2 {
  background-color: #c2000f;
}

.calendar .event.donacja .box h2:before, .calendar .event.donacja .box h2:after {
  background-color: #7a000a;
}

.calendar .event.donacja .box .inside-box .svg-inline--fa {
  color: #c2000f;
}

.calendar .cal-days .day .impreza {
  background-color: #0081ff;
}

.calendar .event.impreza .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.impreza .box h2 {
  background-color: #0081ff;
}

.calendar .event.impreza .box h2:before, .calendar .event.impreza .box h2:after {
  background-color: #0055aa;
}

.calendar .event.impreza .box .inside-box .svg-inline--fa {
  color: #0081ff;
}

.calendar .cal-days .day .spotkanie {
  background-color: #e79200;
}

.calendar .event.spotkanie .shade {
  background-color: rgba(0, 0, 0, 0.897);
}

.calendar .event.spotkanie .box h2 {
  background-color: #e79200;
}

.calendar .event.spotkanie .box h2:before, .calendar .event.spotkanie .box h2:after {
  background-color: #b47200;
}

.calendar .event.spotkanie .box .inside-box .svg-inline--fa {
  color: #e79200;
}
/*# sourceMappingURL=style.css.map */