.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.slide-fade-enter {
  opacity: 0;
}

.slide-fade-enter-to {
  opacity: 1;
}

.slide-fade-leave-to {
  opacity: 0;
}

.slide-left {

  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0);
    opacity: 1;

  }

  &-enter {
    transform: translateX(100vw);
    opacity: 0;

  }

  &-leave-to {
    transform: translateX(-100vw);
    opacity: 0;

  }
}


.zoom {

  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;

    &.news,
    .news-card,
    .gallery-card,
    &.slideshow,
    .thumbnail,
    .back-gallery {
      transition: all 0.3s linear;
      transform: scale(1);
      opacity: 1;
    }

  }

  &-enter {

    &.news,
    .news-card,
    .gallery-card,
    &.slideshow,
    .thumbnail,
    .back-gallery {
      transform: scale(0) !important;
      opacity: 0;

    }
  }

  &-leave-to {

    &.news,
    .news-card,
    .gallery-card,
    &.slideshow,
    .thumbnail,
    .back-gallery {
      transform: scale(0) !important;
      opacity: 0;

    }
  }
}

.slide-top {

  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;

  }

  &-enter {
    transform: translateY(100vh);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(-100vh);
    opacity: 0;


  }
}

.slide-bottom {

  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;

  }

  &-enter {
    transform: translateY(-100vh);
    opacity: 0;


  }

  &-leave-to {
    transform: translateY(100vh);
    opacity: 0;

  }
}

.slide-right {

  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0);
    opacity: 1;
  }

  &-enter {
    transform: translateX(-100vw);
    opacity: 0;

  }

  &-leave-to {
    transform: translateX(100vw);
    opacity: 0;

  }
}


.cal-enter-active,
.cal-leave-active {
  transition: 0.5s;
  transform-origin: top;
  transform: rotateX(0);
}

.cal-enter {
  transform: rotateX(-90deg);
}

.cal-leave-to {
  transform: rotateX(-90deg);
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
  opacity: 1;
}

.list-enter,
.list-leave-to {
  opacity: 0;
}

.calendar-enter-active,
.calendar-leave-active {
  transition: all 0.4s;

  tbody {
    perspective: 200vh;
  }

  tr {
    transform: rotateX(-90deg);
    transition: all 0.4s;
    position: relative;
    transform-origin: top;
  }
}

.calendar-enter-to {
  tr {
    transform: rotateX(0deg);
  }
}

.calendar-leave-to {
  tr {
    transform: rotateX(-90deg);
  }
}

// .slide-left-enter-active,
// .slide-left-leave-active {
//   transition: all 0.4s linear;
//   position: relative;
// }

// .slide-left-enter {
//   transform: translateX(100%);
//   opacity: 0;
// }

// .slide-left-leave-to {
//   transform: translateX(-100%);
//   opacity: 0;
// }

.rotate-enter-active,
.rotate-leave-active {
  transition: all 0.4s linear;

  .day {
    transition: all 0.4s linear;
    position: relative;
  }
}

.rotate-enter {
  .day {
    transform: rotateX(90deg);
  }
}

.rotate-leave-to {
  .day {
    transform: rotateX(-90deg);
  }
}

@keyframes scale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }
}

@keyframes heart-beat {

  0%,
  30%,
  60%,
  100% {
    transform: scale(1);
  }

  15%,
  45% {
    transform: scale(1.015);
  }
}

// @keyframes event {
//   0% {
//     background: $red;
//   }

//   25% {
//     background: $glow-red;
//   }

//   75% {
//     background: $faint-red;
//   }

//   100% {
//     background: $red;
//   }
// }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    color: $red;
  }
}
