.main {
  &-menu {
    position: fixed;
    z-index: 10;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.9px;
    font-weight: 300;
    z-index: 100;
    box-shadow: 0 0 5px 1px $dark-grey;
    grid-area: menu;
    top: 0;
    height: 100vh;
  }

  &__list {
    list-style-position: inside;
    padding-left: 0;
    list-style: none;
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  &__item {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: $faint-black;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background-color: $light-grey;
      color: $red;
      border-color: $light-grey;

      .main__img {
        filter: none;
      }
    }

    &.router-link-active {
      color: $red;
      background-color: #fff;
      border-color: #fff;
      position: relative;

      .main__img {
        filter: none;
      }
    }
  }

  &__link {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid $light-faint-black;
    order: 1;
    font-size: 10px;
  }

  &__img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
    filter: brightness(0%) invert(50%);
    transition: filter 0.3s;
    max-width: 40px;
    max-height: 40px;
  }
}



.content__menu {
  font-family: "Montserrat", sans-serif;
  z-index: 9;
  position: relative;
  background: inherit;
  z-index: 3;
  padding-top: 50px;
  grid-area: menu;

  .fa-caret-down {
    font-size: 25px;
    padding: 4px 8px;
    border-radius: 20px;
    background-color: $red;
    color: #fff;
    display: none;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    right: 5px;
    transform: rotate(0deg);

    &.hide {
      opacity: 0;
    }
  }

  .list {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: 0.3s;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid $light-grey;

    .menu__link {
      color: $faint-black;
      border: none;
      transition: 0.5s;
      padding: 5px 2px;
      margin: 0 15px;
      font-size: 13px;
      text-transform: uppercase;
      position: relative;
      display: block;
      height: 100%;
      display: block;
      cursor: pointer;

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: transparent;
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        transition: 0.5s;
        opacity: 0;
      }

      &.disable {
        display: none;
      }

      &.active-link {
        font-weight: bold;
        display: block !important;
        transition-delay: 0;

        &:after {
          background: $red;
          opacity: 1;
        }
      }
    }
  }
}

.hamburger {
  height: 50px;
  width: 70px;
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 110;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background: $black;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
  border: none;

  &--icon {
    font-size: 35px;
    color: $dark-red;
    transition: 0.3s;
  }

  &.slide__left {
    transform: translateX(-80px);

    & .hamburger--icon {
      transform: rotateY(180deg);
      color: #fff;
    }
  }
}
