.newses {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;

  .news-card {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid $almost-white;
    border-radius: 3px;
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    &__title {
      margin-top: 0;
      flex: 1 0 auto;
    }

    &__date {
      font-size: 0.8em;
      color: $dark-grey
    }



  }


}

.news {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;

  &__date {
    font-size: 0.8em;
    color: $dark-grey;
  }


  .button-container {
    position: absolute !important;
    top: 10px;
    right: 10px;
    font-size: 30px;

  }



}



// @media screen and (max-width:991px) {
//   .news {
//     top: 20px;
//     height: calc(100vh - 40px);
//     left: 20px;
//     width: calc(100% - 40px);
//   }
// }

// @media screen and (min-width:992px) {
//   .news {
//     top: 20px;
//     height: calc(100vh - 40px);
//     left: $navigation-width + 20px;
//     width: calc(100% - #{$navigation-width + 40px});
//   }

// }
